body {
  font-family: Trebuchet, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

label {
  font-weight: normal;
}


#page_header {
  background-color: "white";
  height: 30px;
  margin: 0px auto 20px auto;
}

#page_title {
  margin: 0px auto 0px auto;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

#game {
  width: 800px;
}

#page_content {
  margin-top: 5px;
}

#page_content>div {
  margin-right: auto;
  margin-left: auto;
}

.chooser {
  width: 800px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.start {
  margin-left: 50px;
}